<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Canada drives - G test</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        
        <%-
            include('layouts/navbar');
        %>
        <!-- Page Header-->
        <header class="masthead" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('assets/img/g-test-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>G Test</h1>
                            <span class="subheading">Search your details with license number edit the car details here</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    
                    <% if(errors != null && errors.length > 0){ %>
                        <ul class="list-group"></ul>
                        <% for (var i = 0; i < errors.length; i++) { %>
                            <li class="list-group-item list-group-item-danger"><%= errors[i] %></li>
                        <% } %>
                        </ul>
                    <% } %>
                                         
                        <form id="displayUserform" method="" action="">
                            <fieldset >
                                <legend>Personal Information</legend>
                                <input type="text" class="form-control" name="inputID" value="<%= users._id %>" id="inputID" readonly hidden>
                                <div class="form-group row">
                                    <label for="inputFirstName" class="col-sm-4 col-form-label">First Name : </label>
                                    <div class="col-sm-8">

                                        <input type="text" class="form-control" name="inputFirstName" value="<%= users.firstname %>" id="inputFirstName" disabled readonly>
                                        
                                    </div>
                                </div>  
                                <div class="form-group row">
                                    <label for="inputLastName" class="col-sm-4 col-form-label">Last Name : </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="inputLastName"value="<%= users.lastname %>" id="inputLastName" disabled readonly>
                                        
                                    </div>
                                </div>   
                                <div class="form-group row">
                                    <label for="inputLicense" class="col-sm-4 col-form-label">License Number : </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="inputLicense" value="<%= users.licenseNo %>" id="inputLicense"disabled readonly>
                                        
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputAge" class="col-sm-4 col-form-label">Age : </label>
                                    <div class="col-sm-8">
                                        <input type="number" class="form-control" name="inputAge" value="<%= users.Age %>" id="inputAge" disabled readonly>
                                        
                                    </div>
                                </div>
                                
                                
                            </fieldset>
                            <br><br>
                            <fieldset >
                                <legend>Car Information</legend>
    
                                <div class="form-group row">
                                    <label for="inputMake" class="col-sm-4 col-form-label">Make : </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control"  name="inputMake" value="<%= users.car_details.make %>" id="inputMake" placeholder="Make" disabled readonly>
                                        
                                    </div>
                                </div> 
                                <div class="form-group row">
                                    <label for="inputModel" class="col-sm-4 col-form-label">Model : </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="inputModel" value="<%= users.car_details.model %>" id="inputModel" placeholder="Model" disabled readonly>
                                        
                                    </div>
                                </div> 
                                <div class="form-group row">
                                    <label for="inputYear" class="col-sm-4 col-form-label">Year : </label>
                                    <div class="col-sm-8">
                                        <input type="number" class="form-control" name="inputYear" value="<%= users.car_details.year %>" id="inputYear" placeholder="Year" disabled readonly>
                                        
                                    </div>
                                </div> 
                                <div class="form-group row">
                                    <label for="inputPlateNumber" class="col-sm-4 col-form-label">Plate Number :</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="inputPlateNumber" value="<%= users.car_details.platno %>" id="inputPlateNumber" placeholder="Plate Number" disabled readonly>
                                        
                                    </div>
                                </div> 
                            </fieldset>
                            <br>
                        </form>
                        <% if (!users.appointmentID || (users.exam_details.test_type == "G" && users.exam_details.status == false)) { %>
                        <form id="bookAppointment" method="post" action="/makeAppointment">
                            <br>
                            
                            <fieldset >
                                <legend>Book an appointment</legend>
                                    <div class="form-group row">
                                        <label for="date" class="col-sm-4 col-form-label">Date : </label>
                                        <div class="col-sm-8">

                                            <input type="date" class="form-control" name="date" id="date"  >
                                            
                                        </div>
                                    </div>  
                                    <input type="text" id="loadedTimes" value=""  hidden>
                                    <div class="form-group row">
                                        <label for="time" class="col-sm-4 col-form-label">Time : </label>
                                        <div class="col-sm-8">

                                            <select id="time" name="time"  class="form-control" >
                                                <option value="" disabled selected>Select a time</option>
                                                
                                            </select>
                                            
                                        </div>
                                    </div>
                                    <input type="hidden" name="test_type" value="G">
                            </fieldset>
                            <br>
                            <div class="form-group row">
                                <label  class="col-sm-4 col-form-label"></label>
                                <div class="col-sm-8">  
                                    <button type="submit" class="btn btn-primary">Book Appointment</button> 
                                </div>

                            </div>
                            <br> 
                        </form>
                        <% } else if (users.exam_details && users.exam_details.testtype == "G2" && users.exam_details.status == false) { %>
                            <h3> You cant book G without G2</h3>
                        <% } else { %>
                            <h3> G Test Appointment Booked</h3>
                        <% } %>
                </div>
            </div>
        </div>
       
        <!-- Footer-->
        
        <%-
            include('layouts/footer');
        %>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#date').on('change', function () {
                    const selectedDate = $(this).val();
                    // Make an AJAX request to fetch available times
                    $.ajax({
                    url: '/timeslots',
                    method: 'GET',
                    data: { date: selectedDate, testtype: "G" },
                    dataType: 'json',
                    success: function(data) {
                        // Display available times
                        displayAvailableTimes(data);
                    },
                    error: function(error) {
                        console.error('Error fetching available times:', error);
                    }
                    });

                    function displayAvailableTimes(appointments) {
                        // Clear previous times
                        $('#time').empty();
                        
                        if(appointments != ""){
                            $('#time').append('<option value="" disabled selected>Select a time</option>');
                            
                            appointments.forEach(appointment => {
                                console.log(appointment);
                                $('#time').append(`<option value="${appointment._id}">${appointment.time}</option>`);
                            });
                        }
                        else{
                            $('#time').append('<option value="" disabled selected>No Slots Available</option>');
                        }

                        
                    }

                });
            });
        </script>
    </body>
</html>
